@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.slick-dots li {
  background-color: gray;
  border-radius: 50%;
}


.slick-prev, .slick-next {
  background: rgb(247, 90, 29) !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 10%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  animation: sticky 1s;
  z-index: 100;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}